<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Verses</key>
	<array>
		<string>Peace I leave with you; my peace I give to you. Not as the world gives do I give to you. Let not your hearts be troubled, neither let them be afraid - John 14:27 ESV</string>
		<string> I can do all things through him who strengthens me - Philippians 4:13 ESV</string>
		<string>Therefore do not be anxious about tomorrow, for tomorrow will be anxious for itself. Sufficient for the day is its own trouble - Matthew 6:34 ESV</string>
		<string>For I consider that the sufferings of this present time are not worth comparing with the glory that is to be revealed to us - Romans 8:18 ESV</string>
		<string>Casting all your anxieties on him, because he cares for you - 1 Peter 5:7 ESV</string>
	</array>
	<key>Title</key>
	<array>
		<string>Anxiety</string>
		<string>Depression</string>
		<string>Resource</string>
	</array>
	<key>Thumbnail</key>
	<array>
		<string>TestImg</string>
		<string>TestImg2</string>
		<string>TestImg3</string>
	</array>
	<key>Content</key>
	<array>
		<string>It is normal to experience anxiety, especially in college. There a big changes happening in your life right now. Maybe you’re on your own for the first time. Maybe you’re still trying to figure out what career you want to pursue. Maybe you’re in a serious relationship and contemplating a future with another person. Maybe you’re trying to figure out what kind of person you want to be. 

There are a lot of reasons college students feel anxiety and pressure. It’s all normal. YOU are normal. However, there comes a point when anxiety exceeds what’s “normal” for you and becomes overwhelming. There are signs that can help you understand if you’re struggling with anxiety. A good question to begin with is: Is anxiety keeping me from doing things that I want to do, need to do, or enjoy doing?

&lt;b&gt;Signs and Symptoms&lt;/b&gt;

Anxiety might be becoming more of an issue if you experience persistent (helpguide.org):

* Feelings of apprehension or dread
* Trouble concentrating
* Feeling tense and jumpy
* Anticipating the worst
* Irritability
* Restlessness
* Watching for signs of danger
* Feeling like your mind’s gone blank
* Pounding heart
* Sweating
* Stomach upset or dizziness
* Frequent urination or diarrhea
* Shortness of breath
* Tremors and twitches
* Muscle tension
* Headaches
* Fatigue
* Insomnia 

&lt;b&gt;How to Handle Anxiety&lt;/b&gt;

You might be to a point where you are exhausted from constant anxiety. You might find your daily life or routine being negatively impacted by anxiety. Maybe a friend or loved one has even mentioned something to you about getting help, but you’re not sure what to do. 
A good place to start is to ask yourself about triggers. What seems to draw out the most anxiety in you? In what situations do you feel the most anxious? It could be academics, friend/roommate issues, relationship issues, or family issues. There are a wide range of challenges that could contribute to the anxiety. Identifying triggers can help you figure out what you might need in order to deal with the anxiety.
Other helpful ways to deal with anxiety can include (adaa.org):
* Taking breaks when feeling overwhelmed.
* Making sure you’re eating well.
* Getting plenty of sleep or as much sleep as you can, especially during the week.
* Taking deep breaths and exhaling slowly to lower anxiety in the moment.
* Trying to not stress about what you cannot control.
* Laughing and having fun.
* Trying to have a positive attitude or outlook throughout the day.
* Doing something different that allows you to get out of the stressful environment you’re in.
* Talking to someone like a friend, family member, or even a professional who can help you work through the anxiety and support you as you do.</string>
		<string>Depression is the number one reason students drop out of school or attempt by suicide. It drains your energy, hope, spirit and drive, making it difficult to do what you need or want to do to feel better. Overcoming depression isn’t quick or easy, it’s far from impossible. You can’t just will yourself to “snap out of it,” but you do have power over it. The key is to start small and build from there. Feeling better takes time, but you can get there if you make positive choices for yourself each day. Depression is an epidemic among college students. Here are some of the more alarming statistics:
    * 1 out of every 4 college students suffers from some form of mental illness, including depression
    * 44 percent of American college students report having symptoms of depression
    * 75 percent of college students do not seek help for mental health problems
    * suicide is the third leading cause of death among college students
    * young people diagnosed with depression are five times more likely to attempt suicide than adults
    * 19 percent of young people in the United States either contemplate or attempt suicide every year
    * 4 out of every 5 college students who either contemplate or attempt suicide show clear warning signs 
&lt;b&gt;Signs and Symptoms:&lt;/b&gt;

    * Persistent sad, anxious, or “empty” mood
    * Feelings of hopelessness, pessimism
    * Feelings of guilt, worthlessness, helplessness
    * Loss of interest or pleasure in hobbies and activities
    * Decreased energy, fatigue, being “slowed down”
    * Difficulty concentrating, remembering, making decisions
    * Difficulty sleeping, early-morning awakening, or oversleeping
    * Appetite and/or unwanted weight changes
    * Thoughts of death or suicide; suicide attempts
    * Restlessness, irritability
    * Persistent physical symptoms, such as muscle pain or headaches 
&lt;b&gt;How to Handle Depression&lt;/b&gt;
&lt;b&gt;Tip 1: Stay Connected&lt;/b&gt;

We tend to withdraw and isolate from others when we are depressed. However, staying connected to people who care about us and encourage us is so important.  Finding those around us that want the best and help stay positive and hopeful. 
Ways to stay connected:
    * Look for support from people who make you feel safe and cared for.. 
Make face-time a priority. 
Get involved in church or other community activities. 
Try to keep up with social activities even if you don’t feel like it. 
Find ways to support others. 
Care for.

More tips for reaching out and staying connected:
    1. Talk to one person about your feelings
    2. Help someone else by volunteering
    3. Have lunch or coffee with a friend
    4. Ask a loved one to check in with you regularly
    5. Accompany someone to the movies, a concert, or a small get-together
    6. Call or email an old friend
    7. Go for a walk with a workout buddy
    8. Schedule a weekly dinner date
    9. Meet new people by taking a class or joining a club
    10. Confide in a clergy member, teacher, or sports coach 
&lt;b&gt;Tip 2: Get Moving&lt;/b&gt;

Exercise and activity are power tools for fighting depression. They produce positive and helpful chemicals in your body. Additionally the activity helps you feel productive and hopeful. Your fatigue will improve if you stick with it. Find exercises that are continuous and rhythmic.  

&lt;b&gt;Tip 3: Do Things That Make You Feel Good&lt;/b&gt;

It is important to do things that relax and energize you. This includes following a healthy lifestyle, learning how to better manage stress, setting limits on what you’re able to do, and scheduling fun activities into your day
While you can’t force yourself to have fun or experience pleasure, you can push yourself to do things, even when you don’t feel like it. You might be surprised at how much better you feel once you’re out in the world. Even if your depression doesn’t lift immediately, you’ll gradually feel more upbeat and energetic as you make time for fun activities.
    * Pick up a former hobby or a sport you used to like.
    * Express yourself creatively through music, art, or writing.
    * Go out with friends.
    * Plan a trip to a museum, the lake, or a sporting event. 
&lt;b&gt;Tip 4: Eat a Healthy, Mood-Boosting Diet&lt;/b&gt;

What you eat has a direct impact on the way you feel. Reduce your intake of foods that can adversely affect your brain and mood, such as caffeine, alcohol, trans fats, and foods with high levels of chemical preservatives or hormones (such as certain meats).
    * Don’t skip meals. 
    * Minimize sugar and refined carbs. 
    * Boost your B vitamins.  
&lt;b&gt;Tip 5: Challenge Negative Thinking&lt;/b&gt;

Think about the scripts that play in your head.  Are they full of critical words and thoughts or possibilities? 
Here are negative, unrealistic ways of thinking that fuel depression:
All-or-nothing thinking – Looking at things in black-or-white categories, with no middle ground (“If I fall short of perfection, I’m a total failure.”) 
Overgeneralization – Generalizing from a single negative experience, expecting it to hold true forever (“I can’t do anything right.”)

The mental filter – Ignoring positive events and focusing on the negative. Noticing the one thing that went wrong, rather than all the things that went right.

Diminishing the positive – Coming up with reasons why positive events don’t count (“She said she had a good time on our date, but I think she was just being nice.”)

Jumping to conclusions – Making negative interpretations without actual evidence. You act like a mind reader (“He must think I’m pathetic”) or a fortune teller (“I’ll be stuck in this dead end job forever.”)

Emotional reasoning – Believing that the way you feel reflects reality (“I feel like such a loser. I really am no good!”)

‘Shoulds’ and ‘should-nots’ – Holding yourself to a strict list of what you should and shouldn’t do, and beating yourself up if you don’t live up to your rules. 

Labeling – Labeling yourself based on mistakes and perceived shortcomings (“I’m a failure; an idiot; a loser.”)

&lt;b&gt;When to Get Professional Help&lt;/b&gt;

If you’ve taken self-help steps and made positive lifestyle changes and still find your depression getting worse, seek professional help. Needing additional help doesn’t mean you’re weak. Sometimes the negative thinking in depression can make you feel like you’re a lost cause, but depression can be treated and you can feel better!

</string>
		<string></string>
	</array>
</dict>
</plist>
